.sectionD {
  width: 100%;
  min-height: 1878px;
  @include flexCenter(column);
  background: #f3dac4;
  position: relative;
  h3 {
    margin-top: $title-padding;

    height: 38px;
    font-family: OpenSansb;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.6;
    letter-spacing: -2px;
    text-align: center;
    color: #090909

  }
  hr  {
    margin-top: $title-padding;

    width: $hr-with;
    height: 4px;
    background: #000!important;
  }
  #upp {
    margin-top: 70px;
    display: block;
    width: 535px;
    height: 138px;
    font-family: Prata, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 0.64px;
    text-align: center;
    color: #090909;
  }

   .mainwr {
     margin-top: 30px;
     width: 100%;
     height: 1000px;
     display: flex;
     justify-content: center;

     .wrap {
       width: 60%;
       margin: 0 auto;
       height: 1000px;
       overflow: hidden;




       .picslide {
         width: 30%;
         height: 1000px;
         display: inline-flex;
         flex-direction: column;
         margin: 1%;
         //.picsl {
         //  border: 1px solid black;
         //  height: inherit;
         //}

         h4 {
           margin-top: 20%;
           margin-left: 17px;
           //height: 74px;
           font-family: OpenSansb;
           font-size: 26px;
           letter-spacing: -1.04px;
           color: #656363;
         }
         h3 {
           margin-top: 2%;
           margin-left: 20px;
           font-family: OpenSans;
           font-size: 25px;
           font-weight: bold;
           font-stretch: normal;
           font-style: normal;
           line-height: 1.25;
           letter-spacing: -1.44px;
           text-align: left;
           color: #000000;
           padding-bottom: 10px;

         }
         p {
           margin-top: 50px;
           margin-left: 20px;
           height: 494px;
           font-family: Prata;
           font-size: 16px;
           font-weight: normal;
           font-stretch: normal;
           font-style: normal;
           line-height: 1.88;
           letter-spacing: 0.64px;
           text-align: left;
           color: #000000;
         }







         .picsl {
           width: 100%;
           //height: 310px;
           //transition: all 1.2s ease-in-out;

           img {
             width: 100%;
           }



         }
       }
     }
   }
}
